Options +FollowSymLinks

RewriteEngine on

RewriteBase /

RewriteRule \.svn - [F]

#RewriteRule ^.+(/(css|img|js).*)$ /$1 [L]

RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteRule ^(.*)$ index.phpi [L]

