<html>
<head><title>Main.tpl</title></head>
<body>
<?=$P->outHead('h'); ?>
Это файл Main.tpl</br>
Это урл <?=$P->siteUrl('test'); ?>

<br />
<?=$content; ?>
<br />

<?=$P->addJS('file.js'); ?>
<?=$P->addJS('file.js'); ?>
<?=$P->addCSS('file.css'); ?>
<?=$P->addCSS('file.css'); ?>

<?=$P->getHead(false,'h');?>HEAD<?=$P->getHead(true,'h');?>
А сюда у нас подключен модуль test</br>
<?=$this->module('test');?><br />
<?=$this->module('test/index//a/1/b/2');?><br />
<?=$this->module("test(123,55,'1\'1','1,1',123)");?><br />
<?=$this->module("default.test.index()");?><br />
А вот тут он закончился
<?=$P->getHead(false,'h');?>HEAD<?=$P->getHead(true,'h');?>
</body>
</html>